
.weather-hours{
    margin-top: 100px;
    &__items{
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    &__item{
        scroll-snap-align: start;
        pointer-events: auto;
    }
    &__item + &__item{
        margin-left: 5px;
    }
    ::-webkit-scrollbar{
        width: 15px;
    }
    
    ::-webkit-scrollbar-track{
        background-color: #313131;
    }
    ::-webkit-scrollbar-thumb{
        background-color: rgb(27, 27, 27);
        border-radius: 8px;
        border: 3px solid #313131;
    }
}

.item-hours{
    display: flex;
    flex-direction: column;
    min-width: 96px;
    height: 150px;
    align-items: center;
    background-color: rgb(99, 97, 97);
    color: white;
    border-radius: 10px;
    opacity: 0.7;
    cursor: pointer;
    &__hours{
        width: 60px;
        height: 25px;
        text-align: center;
        padding-top: 5px;
    }
    &__temp{
        position: relative;
        font-size: 35px;
        text-align: center;
        padding-top: 25px;
    }
    &__temp span {
        position: absolute;
        font-size: 25px;
    }
    &__img{
        display: flex;
        justify-content: center;
    }
    &__weather-icon{
        display: block;
        width: 64px;
        height: 64px;
    }
    &__span{
        height: 100%;
        width: 65px;
        transform: rotate(-90deg) translate(-130%, 0%);
        color: white;
        white-space: nowrap;
        //margin: auto;
    }
}

.example-enter {
    opacity: 0.01;
}

.example-enter-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}
